/* static/src/input.css */
@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --color-primary-100: #ffc9ab;
    --color-primary-200: #ff9256;
    --color-primary-300: #ff5c02;
    --color-primary-400: #ec5500;
    --color-primary-500: #8d3200;
    --color-primary-10: #ff5c02;


    --color-secondary-100: #6fe5ef;
    --color-secondary-200: #28d9e8;
    --color-secondary-300: #13a1ad;
    --color-secondary-400: #0b5e65;
    --color-secondary-500: #073a3e;
    --color-secondary-600: #0b5e65;
    --color-secondary-10: rgba(11, 94, 101, 0.08);
    --color-secondary-15: rgba(11, 94, 101, 0.15);
    --color-secondary-20: rgba(11, 94, 101, 0.2);
    --color-secondary-30: rgba(11, 94, 101, 0.35);
    --color-secondary-50: rgba(11, 94, 101, 0.38);
}

/* input.css */
@layer components {
    html {
        scroll-behavior: smooth;
        font-family: "Inter", sans-serif;
    }

    .font-inter {
        font-family: 'Inter', sans-serif;
    }
}