* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
    width: 700px;
    margin: auto;
}
.m-reader {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}
.m-text {
    font-size: 1.2em;
    line-height: 1.5em;
}
.m-created-at {
    font-size: 0.8em;
    color: #e9cb0a m-textm-textm-textm-textm-text;
}